odoo-addon-attribute_set @ git+https://github.com/OCA/odoo-pim.git@refs/pull/190/head#subdirectory=attribute_set
odoo-addon-product_attribute_set @ git+https://github.com/OCA/odoo-pim.git@refs/pull/191/head#subdirectory=product_attribute_set
